@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;500&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items:center;
}
.container{
    display: flex;
    width: 70%;
    border: 1px solid rgb(216, 210, 210);
    box-shadow: 2px 2px 6px gray;
    padding: 10px;
    border-radius: 4px;
}
.tag-container{
    flex:1;
    display: flex;
    flex-wrap: wrap;
}
.tags{
    display: flex;
    padding: 2px;
    background-color: #f1eded;
    border-radius: 10px;
    padding-left: 5px;
    border: 1px solid #d3c5c5;
    align-items: center;
    margin:2px;
}
.tags i{
    margin: 0px 4px;  
    cursor: pointer;
}
.tag-container input{
    padding:2px;
    margin: 2px;
    outline: none;
    border: none;
    flex: 1;
}
.icon i{
    margin: 4px 5px;
    cursor: pointer;
}

